<form method="post" action="/new">
    From:<br>
    <input type="text" name="from"><br><br>
    Message:<br>
    <textarea name="message"></textarea><br><br>
    <input type="submit" value="Send">
</form>    
