<html>
    <head>
        <title>Message Board - Index</title>
    </head>
    <body>
        <%- include('navbar', {navLinks: navLinks}) %>
        <h1>Index Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum provident voluptates voluptate numquam deleniti eveniet, aperiam esse reiciendis omnis blanditiis ea fuga voluptatem at itaque rerum quasi quam autem vero!</p>
    </body>
</html>