<html>
    <head>
        <title>Message Board - New</title>
    </head>
    <body>
        <%- include('navbar', {navLinks: navLinks}) %>
        <h1>New Page</h1>
        <%- include('form'); %>
    </body>
</html>