<html>
    <head>
        <title>Message Board - Test</title>
    </head>
    <body>
        <%- include('navbar', {navLinks: navLinks}) %>
        <h1>Test Page</h1>
        <p>This is a test page</p>
    </body>
</html>